doctype html
html
  head 
    title Ritik Dance Academy 
    block scripts
    block style 
    
  body  content 
     block content 
     block intro 
     block mission
     footer#footer
        | @copyright 2022 RitikDanceAcademy.com All Right Reserved
