doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ritik Dance Academy
  link(rel='stylesheet' href='../static/style.css')


nav#navbar
  ul
    div#logo  
      img(src="../static/img/dance.png", alt="logo")
      | RDA
    li
      a(href='/') HOME
    li
      a(href='/') ABOUT 
    li
      a(href='/') CONTACT US 
    li
      a(href='/') SERVICES 
    li
      a(href='/') CLASS INFO
section#introsection
 div welcome to Ritik Dance academy
  div.small Eat Dance Sleep Reapeat

section#missionsection 
  h2 our mission
  div.card 
   h3 Dance perfections 
   div.card-box 
      div.card-img 
        img(src="../static/img/dance1.png", alt="dance1.png") 

      div.card-content 
        p this is the best dance academy of the universe     
  div.card 
     h3 Dance the way you like
      div.card-box 
      div.card-img 
        img(src="../static/img/dance2.png", alt="dance1.png") 

      div.card-content 
        p this is the best dance academy of the universe 
  div.card 
      h3 expert teaching 
       div.card-box 
      div.card-img 
        img(src="../static/img/dance3.png", alt="dance1.png") 

      div.card-content 
        p this is the best dance academy of the universe 

section#sponsorssections
  h2 our  sponsors 
  div#sponsors 
     img(src="../static/img/logo1.png", alt="sponsors image",class="spimage") 
     img(src="../static/img/logo2.png", alt="sponsors image",class="spimage") 
     img(src="../static/img/logo3.png", alt="sponsors image",class="spimage") 
     img(src="../static/img/logo4.png", alt="sponsors image",class="spimage")

footer#footer
  | @copyright 2022 RitikDanceAcademy.com All Right Reserved


script 
   include ../static/index.js